 /*----- Variables Optional -----*/  
 :root {
  /* Custom Color Palette */
  --egg-shell: #faf9f6;
  --dark-greyblue: #24344d;
  --royal-blue: #0504aa;
  --neon-green: #39FF14;
  --delete-red: #ff0000;
  --light-blue: #a7bbcb; 
  --blue-transparent: hsla(217, 36%, 22%, 0.5);
  --beige: #f5f5dc;
  --mustard: #b78428;
  --mustard-transparent: hsla(39, 64%, 44%, 0.75);
  --light-grey: #939799;
  --main-back: #d3d3d3;
  }

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {                     /* Can alternatively define in html {} or :root {} */
  background-color: var(--light-grey);  
  color: var(--dark-greyblue);
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px;
  padding: 10px;
}


/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
  text-align: center;
  background-color: var(--dark-greyblue);
  line-height: 25px;
  margin: 200px 15px 15px 15px;
  padding: 0px 0px 0px 0px;
}

nav a {
  background-color: var(--egg-shell);
  color: var(--royal-blue);
  border: 5px solid var(--royal-blue);
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 15px 15px 15px 15px;
}

nav a:hover{
  color: var(--dark-greyblue);
  border: 7px solid var(--neon-green);
}

/*  ----- Page layout blocks -----  */
header {
  background-color: var(--dark-greyblue);
  color: var(--egg-shell);
  font-size: 20px;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 1% 0 0 0;
}

footer {
  background-color: var(--dark-greyblue);
  color: var(--egg-shell);
  font-size: 20px;
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1% 0 0 0;
  padding: 1px;
}

main {
  background-color: var(--main-back);
  color: var(--royal-blue);
  border: 5px solid var(--egg-shell);
  font-size: 18px;
  font-weight: 2;
  margin: 25px;
  padding: 50px;
}

/*  ----- Table ----- */
table {
  border-collapse:collapse;
  border: 1px solid var(--egg-shell);
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}
caption {
  padding: 10px;
}

tr {
  border: 1px solid var(--royal-blue);
  padding:15px;
  background-color: var(--light-blue);
  color: var(--royal-blue);
}

th {
  border: 1px solid var(--egg-shell);
  background-color: var(--dark-greyblue);
  color: var(--egg-shell);
  padding:15px;

}
td {
  border: 1px solid var(--royal-blue);
  padding:10px;
}

tr:nth-child(even) {
  background-color: var(--blue-transparent);
  color: var(--egg-shell);
}

/*  ----- Form ----- */
form {
  color: var(--royal-blue);
  font-size: 20px;
}

button {
  font-size: 20px;
  padding: 10px 15px;
  color: var(--royal-blue);
  border: 3px solid var(--royal-blue);
}
button:hover {
  background-color: var(--mustard);
  color: var(--egg-shell);
}

input {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: var(--dark-greyblue);
}

fieldset {
  text-align: center;
  border: 1px solid var(--royal-blue);
}

legend {
  font-size: 25px;
}

label {
  display: block;
  margin-top: 20px;
}

select {
  font-size: 20px;
  padding: 10px 15px;
 }

@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}


